
@model ContosoUniversity.Models.Department

@{
    ViewData["Title"] = "Make and delete";
}



<h2>Create a new department based on data from existing departments</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BaseOn">
            <input type="hidden" asp-for="RowVersion" value="@Html.Raw("0")" />
            <input type="hidden" asp-for="DepartmentID" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Administrator" class="control-label"></label>
                <input asp-for="Administrator" class="form-control" />
                <span asp-validation-for="Administrator" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Budget" class="control-label"></label>
                <input asp-for="Budget" class="form-control" />
                <span asp-validation-for="Budget" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="People" class="control-label"></label>
                <input asp-for="People" class="form-control" />
                <span asp-validation-for="People" class="text-danger"></span>
            </div>


            <div>
                <div class="form-group">
                    <button type="submit" name="action" value="Make" class="btn btn-primary">Make new</button>
                    <button type="submit" name="action" value="MakeAndDeleteOld" class="btn btn-danger">Make & Delete Old</button>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>